<doctype html>
  <html>
    <head>
      <meta charset='utf-8'>
      <link rel='stylesheet' href='../style.css'>
      
      <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto');
      </style>

      <title>CodeClan Address</title>
    </head>

    <body>
      <nav>
      </nav>
      <%= yield %>


    </body>
  </html>